

$back: rgb(182, 47, 47);
$main-accent: #0EC261;

$main-gradient-colors: #0EC261, #039F67;
$green-gradient-colors: #13493F, #0C7B1B;
$blue-gradient-colors: #132949, #0C7B67;
$red-gradient-colors: #493013, #7B0C3B;
$purple-gradient-colors: #281349, #720C7B;






$black: #121212;
$gray: #999999;
$gray-light: #EEEEEE;
$white: #FFFFFF;
